.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width:420px){
  .{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #lezioni .row{
    background-color:#F2F2CD ;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }

  #lezioni h3{
  margin-bottom: 0px;
  }

  #lezioni .row>.left, #lezioni .row>.right, h1 {
    width: 100%;
    margin: 10px;
  }

  #steps .row{
    background-color: #f9f9f9;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }

  #steps h3{
  margin-bottom: 0px;
  }

  #steps .row>.left, #steps .row>.right, h1 {
    width: 100%;
    margin: 10px;
  }

  #why .row{
    background-color:#F2F2CD ;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }

  #steps h3{
  margin-bottom: 0px;
  }

  #steps .row>.left, #steps .row>.right, h1 {
    width: 100%;
    margin: 10px;
  }
  hr{
    border: 1px solid black;
  }

}
